*
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

body
{
  line-height: 1;
}

body > ul
{
  display: block;
  width: 80%;
  margin: 100px auto;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

body > ul > li
{
  padding: 48px;
}

body > ul > li > ul
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #f6f6f6;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

body > ul > li > ul > li
{
  display: block;
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

body > ul > li > ul > li.yes
{
  background: #8BC34A;
}
body > ul > li > ul > li.no
{
  background: #F44336;
}
